* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body{
  padding: 15px;
  background: #F5F7FA;
  max-width: 1140px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
}
img{
  display: block;
  max-width: 100%;
}
a{
  text-decoration: none;
}
@media(min-width: 768px){
  body{
    padding: 90px 15px 130px;
  }
}
@media(min-width: 1441px){
  body{
    padding: 15px;
    justify-content: center;
  }
}

/* HEADER */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}
.header__logo img{
  width: 46px;
}
.header__menu {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 0;
  background: #F5F7FA;
  height: 100vh;
  transition: .2s;
}
.header__menu__botao{
  max-width: fit-content;
  margin-left: auto;
  padding: 27px 30px;
}
.header__menu__lista{
  margin-top: 47px;
}
.header__menu__lista a{
  display: block;
  padding: 13px 24px;
  font-size: 18px;
  text-decoration: none;
  color: #0B0C12;
}
.header__fundo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000050;
  visibility: hidden;
  transition: .3s;
}
nav.menuAberto .header__menu {
  width: 256px;
}
nav.menuAberto .header__fundo {
  visibility: visible;
}
@media(min-width: 768px){
  .header{
    margin-top: 0;
  }
  .header__logo img{
    width: initial;
  }
  nav.menuAberto .header__fundo,
  .header__fundo,
  .header__menu__botao,
  .header__botao{
    display: none;
  }
  .header__menu{
    position: initial;
    width: initial;
    height: initial;
    display: initial;
  }
  .header__menu__lista{
    margin-top: initial;
    display: flex;
    gap: 38px;
  }
  .header__menu__lista a{
    padding: 9px 0;
    font-size: 16px;
    transition: .2s;
  }
  .header__menu__lista a:hover{
    color: #18A0FB;
  }
}

/* GRID */
.main{
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}
@media(min-width: 890px){
  .main{
    grid-template-columns: minmax(540px, 730px) minmax(280px, 350px);
    gap: 30px;
    margin-top: 55px;
  }
}

/* BANNER */
.main__informacoes{
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}
.main__informacoes h1{
  color: #0B0C12;
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
}
.main__informacoes__textos p{
  margin-top: 16px;
  font-size: 15px;
  line-height: 176%;
  color: #363B47;
}
.main__informacoes__textos a{
  display: block;
  width: 185px;
  padding: 15px;
  margin-top: 24px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.31em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #068BE4;
  border: none;
}
@media(min-width: 768px){
  .main__informacoes{
    margin-top: 30px;
  }
  .main__informacoes h1{
    max-width: 50%;
    font-size: 55px;
    line-height: 56px;
    letter-spacing: 0.01em;
  }
  .main__informacoes__textos{
    max-width: 50%;
  }
  .main__informacoes__textos p{
    margin-top: 0;
    line-height: 24px;
  }
  .main__informacoes__textos a{
    margin-top: 36px;
    transition: .2s;
  }
  .main__informacoes__textos a:hover{
    background-color: #0B0C12;
    color: #F5F7FA;
  }
}

/* NOTICIAS */
.main__noticias{
  padding: 24px;
  background-color: #0B0C12;
}
.main__noticias h2{
  font-weight: 800;
  font-size: 32px;
  letter-spacing: 0.01em;
  color: #B2B8BF;
}
.main__noticias ul{
  margin-top: 34px;
}
.main__noticias__item + .main__noticias__item{
  border-top: 1px solid #7E838C;
}
.main__noticias__item a{
  display: block;
}
.main__noticias__item:not(:last-child) a{
  margin-bottom: 30px;
}
.main__noticias__item + .main__noticias__item a{
  margin-top: 30px;
}
.main__noticias__item h3{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #E6EAF0;
}
.main__noticias__item p{
  margin-top: 8px;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #C0C5CC;
}
@media(min-width: 768px){
  .main__noticias ul{
    margin-top: 33px;
  }
  .main__noticias h2{
    font-size: 40px;
  }
  .main__noticias__item a h3{
    transition: .2s;
  }
  .main__noticias__item a:hover h3{
    color: #068BE4;
  }
}

/* SECTION POPULAR */
.popular{
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 33px 40px;
}
.popular__item{
  display: flex;
  align-items: center;
  gap: 24px;
}
.popular__item__imagem img{
  min-width: 100px;
  max-width: 100px;
}
.popular__item__informacoes span{
  font-weight: 700;
  font-size: 32px;
  color: #B2B8BF;
}
.popular__item__informacoes h4{
  margin-top: 9px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.015em;
  color: #242833;
}
.popular__item__informacoes p{
  margin-top: 10px;
  font-size: 15px;
  line-height: 26px;
  color: #474D59;
}
@media(min-width: 768px){
  .popular{
    margin-top: 71px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
  .popular__item h4{
    transition: .2s;
  }
  .popular__item:hover h4{
    color: #068BE4;
  }
}